<header *ngIf="logo && banner" [ngStyle]="{'background': 'url(' + banner.image +')'}">
  <figure>
    <img
      [src]="logo.image"
      alt="logo de la empresa"
    >
    <button mat-mini-fab class="btn-action btn-image" (click)="fileInput.click()" *ngIf="rol === 1">
      <mat-icon aria-label="label">cloud_upload</mat-icon>
      <input 
        #fileInput 
        type="file" 
        style="display:none;"
        accept="image/png, image/gif, image/jpeg, image/jpg"
        (change)="uploadFile($event, 'logo')"
      />
    </button>
  </figure>
  <button mat-mini-fab class="btn-action btn-banner" (click)="fileSecondInput.click()" *ngIf="rol === 1">
    <mat-icon aria-label="label">cloud_upload</mat-icon>
    <input 
      #fileSecondInput 
      type="file" 
      style="display:none;"
      accept="image/png, image/gif, image/jpeg, image/jpg"
      (change)="uploadFile($event, 'banner')"
    />
  </button>
  <button mat-mini-fab class="btn-action btn-logout" (click)="logout()" *ngIf="rol === 1">
    <mat-icon aria-label="label">logout</mat-icon>
  </button>
  <button mat-mini-fab class="btn-action btn-logout" *ngIf="rol !== 1" (click)="login()" >
    <mat-icon aria-label="label">login</mat-icon>
  </button>
</header>
<mat-progress-bar *ngIf="statusUpload" mode="determinate" [value]="uploadPercent | async"></mat-progress-bar>
