    <section style="margin: 0 auto; padding: 30px;"  [formGroup]="aboutUsForm" [ngStyle]="index==2 ? {'flex-direction':'row-reverse'}:{}">
      <h2
        role="button"
        *ngIf="!isTitle"
        class="title is-4"
        (click)="setIsHiden('title')"
      >
      {{item.title || 'No Configurado'}}
    </h2>

      <input
        *ngIf="isTitle && rol==1"
        class="input-data"
        type="text"
        formControlName="title"
        (focusout)="updateAboutUs('title')"
        autofocus
      >
  
      <p
        role="button"
        *ngIf="!isDescription"
        class="description"
        (click)="setIsHiden('description')"
      >
        {{item.description || 'No Configurado'}}
      </p>
  
      <textarea
        *ngIf="isDescription && rol==1"
        class="input-data"
        type="text"
        formControlName="description"
        (focusout)="updateAboutUs('description')"
        autofocus
        style="display: block; margin-top: 20px;"
      ></textarea>
      <a (click)="openDialogAboutUsDetail()" *ngIf="index==2">Ver mas</a>
    </section>