<section class="columns	is-centered-mobile main-contact">
	<div class="column is-12-mobile is-1-tablet is-offset-4-tablet main-contact__social-network" style="display: inline-block;">
		<a href="https://es-la.facebook.com/" target="_blanck"><i class="fa fa-facebook-square main-contact__social-network__link"></i></a>
		<a href="https://www.instagram.com/?hl=es" target="_blanck"><i class="fa fa-instagram main-contact__social-network__link"></i></a>
			<a href="https://www.instagram.com/?hl=es" target="_blanck"><i class="fa fa-whatsapp main-contact__social-network__link"></i></a>
			<a href="https://www.instagram.com/?hl=es" target="_blanck"><i class="fa fa-twitter main-contact__social-network__link"></i></a>
			<a href="https://www.instagram.com/?hl=es" target="_blanck"><i class="fa fa-pinterest main-contact__social-network__link"></i></a>
			<a href="https://www.instagram.com/?hl=es" target="_blanck"><i class="fa fa-tiktok main-contact__social-network__link"></i></a>
			<a href="https://www.instagram.com/?hl=es" target="_blanck"><i class="fa fa-youtube main-contact__social-network__link"></i></a>
	</div>
	<mat-divider class="column line-divider" [vertical]="true"></mat-divider>
	<div class="column is-10-tablet is-12-mobile main-contact__content">
		<app-contact-small class="column is-12-mobile is-7-tablet is-6-desktop main-contact__content__render"></app-contact-small>
	</div>
</section>
