.main-contact {
  padding: 0 30px;

  &__social-network {
    margin-top: 50px;
    text-align: center;

    &__link {
      font-size: 2.25rem;
      color: black;
      margin: 8px 15px;
    }
  }

  &__content {

    &__render {
      margin: 0 auto;
    }
  }
}

.line-divider {
  display: none;
}

@media (min-width: 770px) {
  .main-contact {
    margin-top: 50px;
    padding: 0;

    &__social-network {
      margin-top: 0px;
      max-height: 370px;
      overflow-y: auto;

      &__link {
        display: block;
        margin: 15px 0;
      }
    }

    &__content {
      bottom: 0;

      &__render {
        margin: 0;
      }
    }
  }

  .mat-divider.mat-divider-vertical {
    display: block;
    border-right-width: 3px;
    border-right-color: #010c31;
  }
}
