@import '../../../../../assets/scss/colors.scss';
.main-container {
  padding: 15px;
  width: 90%;
  margin: 0 auto;
}

.main-section__description {
  text-align: justify;
  font-size: 0.875rem; //14px
  line-height: normal;
}

.main-section-media {
  text-align: center;
  max-height: 350px;
}

.main-section-media__video {
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #708b89;
  max-height: 350px;
  min-height: 300px;
  background-color: #000;
}
textarea{
  width: 100%;
  min-height: 300px;
  resize: none; 
  max-height: 300px;
  font-size: 1.375rem;
  padding: 6px;
  border-radius: 4px;
  background-color: $bg;
}

@media only screen and (min-width: 600px) {
  .main-container {
    width: 80%;
  }

  .main-section__description {
    font-size: 1rem; //16px
  }
}

@media only screen and(min-width: 769px) {
  .main-container {
    width: 70%;
    padding: 3% 0;
  }


  .main-section__description {
    font-size: 1.125rem; //18px
    text-align: left;
  }

}

@media only screen and(min-width: 1024px) {
  .main-container {
    width: 100%;
    padding: 2% 5%;
  }

  .main-section-media__video {
    width: 90%;
  }

  .main-section__description {
    font-size: 1.438rem; //23px
    margin-left: 10px;
  }

  .main-section__information {
    max-height: 50vh;
    overflow-y: auto;
  }

  .main-section__information::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .main-section__information::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
}

@media only screen and(min-width: 1441px) {

  .main-section__description {
    font-size: 1.625rem; //26px
    font-stretch: expanded;
    margin-left: 5%;
  }
}
