.main-contact {
  border-radius: 50px;
  min-height: 300px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #0575E6;
  background: -webkit-linear-gradient(to left, #001255, #0575E6);
  background: linear-gradient(to left, #001255, #0575E6);
}

.link-social {
  margin-left: 15px;
  text-decoration: none !important;
  flex: none;
}

.social-container {
  display: -webkit-box;
}

@media (min-width:500px) {
  .main-contact {
    padding: 0 50px;
  }
}

@media (min-width:770px) {
  .link-social {
    margin-left: 0;
  }
}
