<section class="is-child notification is-info main-contact " >
  <div class="columns social-container">
    <mat-icon class="column is-1" aria-hidden="false" aria-label="Example home icon">location_on</mat-icon> 
    <iframe class="column is-10-mobile is-8-tablet link-social" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25020.446600201325!2d-66.15504123450914!3d-17.447915765585435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e372247b0b9f8f%3A0x6490cf7b61212515!2sHospital%20del%20Sud!5e0!3m2!1ses!2sbo!4v1636428271511!5m2!1ses!2sbo" width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy">Ubicacion</iframe>
  </div>
  <div class="columns is-12-mobile social-container">
    <mat-icon class="column is-1" aria-hidden="false" aria-label="Example home icon">whatsapp</mat-icon>
      <a class="column is-10-mobile is-6-tablet link-social" href="https://wa.me/59170723458?text=Hola%20puede%20darme%20mas%20información" target="_blanck">70723458</a>
  </div>
  <div class="columns social-container">
    <mat-icon class="column is-1" aria-hidden="false" aria-label="Example home icon">email</mat-icon>
    <a class="column is-10-mobile is-6-tablet link-social" href="mailto:miguelarnez1801@gmail.com?subject=Subject Using Mailto.co.uk&body=Hola">ovisoft@gmail.com</a>
  </div>
</section>
