/* You can add global styles to this file, and also import other style files */
@import './assets/scss/colors.scss';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
  
.btn {
  width: 100px;
  height: 37px;
  padding: 6px;
  margin: auto 16px;
  border: none;
  border-radius: 32px;
}

.btn-success {
  background-color: $primary;
  color: $dark;
}

.btn-danger {
  background-color: $warn;
  color: $light;
}

.btn:hover {
  box-shadow: 0px 30px 60px rgba(178, 178, 178, 0.5);
  cursor: pointer;
  transition: 0.3s;
}

* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  /*display: none;   Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
*::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
*::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
*::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
*::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}