<div class="card" [formGroup]="documentForm">
  <div class="card-image">
    <ngx-doc-viewer
      [url]="data.url"
      viewer="google"
      disableContent="all"
      [googleCheckContentLoaded]="false"
      class="document">
    </ngx-doc-viewer>
    <!-- <figure class="image is-4by3">
      <img [src]="data.image || 'https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80'" alt="Placeholder image">
    </figure> -->
  </div>
  <button mat-icon-button class="btn-container-r">
    <mat-icon
      class="material-icons-outline icon-cloud"
      aria-label="subir imagen icon"
      >cloud_upload
    </mat-icon
  >
  <input
    type="file"
    class="input-hidden"
    accept="application/msword, application/vnd.ms-powerpoint, application/pdf"
    (change)="uploadFile($event)"
    />
  </button>
  <mat-progress-bar *ngIf="statusUpload" mode="determinate" [value]="uploadPercent | async"></mat-progress-bar>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p 
          role="button"
          *ngIf="!isTitle" 
          class="title is-4"
          (click)="setIsHiden('title')"
          >{{data.title || 'No Configurado'}}</p>
        <input 
          *ngIf="isTitle" 
          class="input-data" 
          type="text" 
          formControlName="title"
          maxlength="25"
          (focusout)="editDocument('title')"
          autofocus
          >
        <p
          role="button"
          *ngIf="!isSubtitle" 
          class="subtitle is-6"
          (click)="setIsHiden('subTitle')"
          >{{data.subtitle || 'No Configurado'}}
        </p>
        <textarea
          *ngIf="isSubtitle" 
          class="input-data" 
          type="text" 
          maxlength="130"
          formControlName="subtitle"
          (focusout)="editDocument('subTitle')"
          autofocus
          >
        </textarea>
      </div>
    </div>
    <div class="card-action">
      <span class="spacer"></span>
      <button type="button" class="btn-action" mat-raised-button>
        <a [href]="data.url" target="_blank">
          Descargar
        </a>
      </button>
      <button color="warn" mat-icon-button (click)="deleteDocument()">
        <mat-icon class="material-icons-outlined" aria-label="label">delete</mat-icon>
      </button>
    </div>
  </div>
</div>